.social-icons {
    /*display: flex;*/
    gap: 8px;
    margin-bottom: 5%;
    justify-content: center;
}

.social-icons a {
    font-size: 1.5rem;
    color: #fff;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #b9b9b9;
}

.footer-text {
    font-family: var(--font-mojang);
    font-weight: 400;
    margin-bottom: 1rem;
}

footer {
    text-align: center;
    color: #b8b8b8;
    padding: 1.2rem 0;
    font-size: 1rem;
    letter-spacing: 0.05em;
    margin-top: 2rem;
}
